In [7]:
import os
import sys
import os.path as osp
# Necessary for workers to use same conda environment
# Otherwise you get "module 'glow' not found" errors when actually running jobs
os.environ["PYSPARK_PYTHON"] = sys.executable
# export SPARK_DRIVER_MEMORY=64g
# export ARROW_PRE_0_15_IPC_FORMAT=1
import pyspark.sql.functions as F
from pyspark.sql.session import SparkSession
from glow import *
from glow.wgr.functions import *
from glow.wgr.linear_model import *
import pandas as pd

In [8]:
path = osp.join(os.environ['WORK_DIR'], 'data/gwas/tutorial/1_QC_GWAS/HapMap_3_r3_1.bed')
path

'/home/jovyan/work/data/gwas/tutorial/1_QC_GWAS/HapMap_3_r3_1.bed'

In [9]:
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages io.projectglow:glow_2.11:0.5.0' # does not work
# Do in $SPARK_HOME/conf/spark-defaults.conf instead
spark = SparkSession.builder\
    .config('spark.jars.packages', 'io.projectglow:glow_2.11:0.5.0')\
    .config("spark.sql.execution.arrow.pyspark.enabled", "true")\
    .getOrCreate()

In [10]:
import glow
glow.register(spark)

In [11]:
df = (
    spark.read.format('plink')
    .option("bimDelimiter", "\t")
    .option("famDelimiter", " ")
    .option("includeSampleIds", True)
    .option("mergeFidIid", False)
    .load(path)
)

In [12]:
df.printSchema()

root
 |-- contigName: string (nullable = true)
 |-- names: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- position: double (nullable = true)
 |-- start: long (nullable = true)
 |-- end: long (nullable = true)
 |-- referenceAllele: string (nullable = true)
 |-- alternateAlleles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- genotypes: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- sampleId: string (nullable = true)
 |    |    |-- calls: array (nullable = true)
 |    |    |    |-- element: integer (containsNull = true)

In [13]:
df.show(3)

+----------+------------+--------+------+------+---------------+----------------+--------------------+
|contigName|       names|position| start|   end|referenceAllele|alternateAlleles|           genotypes|
+----------+------------+--------+------+------+---------------+----------------+--------------------+
|         1| [rs2185539]|     0.0|556737|556738|              C|             [T]|[[NA06989, [0, 0]...|
|         1|[rs11510103]|     0.0|557615|557616|              A|             [G]|[[NA06989, [0, 0]...|
|         1|[rs11240767]|     0.0|718813|718814|              C|             [T]|[[NA06989, [0, 0]...|
+----------+------------+--------+------+------+---------------+----------------+--------------------+
only showing top 3 rows

In [16]:
dfv = df\
  .withColumn('values', mean_substitute(genotype_states(F.col('genotypes')))) \
  .filter(F.size(F.array_distinct('values')) > 1)\
  .filter(F.col('contigName') == F.lit('22'))
dfv.printSchema()

root
 |-- contigName: string (nullable = true)
 |-- names: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- position: double (nullable = true)
 |-- start: long (nullable = true)
 |-- end: long (nullable = true)
 |-- referenceAllele: string (nullable = true)
 |-- alternateAlleles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- genotypes: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- sampleId: string (nullable = true)
 |    |    |-- calls: array (nullable = true)
 |    |    |    |-- element: integer (containsNull = true)
 |-- values: array (nullable = true)
 |    |-- element: double (containsNull = true)

In [17]:
dfv.show(3)

+----------+------------+--------+--------+--------+---------------+----------------+--------------------+--------------------+
|contigName|       names|position|   start|     end|referenceAllele|alternateAlleles|           genotypes|              values|
+----------+------------+--------+--------+--------+---------------+----------------+--------------------+--------------------+
|        22|[rs11089128]|     0.0|14560202|14560203|              A|             [G]|[[NA06989, [0, 0]...|[0.0, 1.0, 0.0, 0...|
|        22| [rs7288972]|     0.0|14564327|14564328|              T|             [C]|[[NA06989, [0, 0]...|[0.0, 1.0, 1.0, 0...|
|        22|[rs11167319]|     0.0|14850624|14850625|              T|             [G]|[[NA06989, [0, 1]...|[1.0, 0.0, 0.0, 0...|
+----------+------------+--------+--------+--------+---------------+----------------+--------------------+--------------------+
only showing top 3 rows

In [18]:
dfv.count()

18308

In [11]:
sample_ids = get_sample_ids(dfv)
print(len(sample_ids))
sample_ids[:5]

165

['NA06989', 'NA11891', 'NA11843', 'NA12341', 'NA12739']

In [12]:
block_df, sample_blocks = block_variants_and_samples(dfv, sample_ids, variants_per_block=5000, sample_block_count=5)

root
 |-- values: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- fractionalSampleBlockSize: double (nullable = true)
 |-- sample_block: string (nullable = true)

In [13]:
block_df.printSchema()

root
 |-- header: string (nullable = false)
 |-- size: integer (nullable = false)
 |-- values: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- header_block: string (nullable = false)
 |-- sample_block: string (nullable = true)
 |-- sort_key: integer (nullable = true)
 |-- mu: double (nullable = true)
 |-- sig: double (nullable = true)

In [14]:
pd.Series(sample_blocks)

1    [NA06989, NA11891, NA11843, NA12341, NA12739, ...
2    [NA12282, NA11920, NA12776, NA12283, NA07435, ...
3    [NA12489, NA12399, NA12413, NA10843, NA12842, ...
4    [NA11829, NA12239, NA12762, NA12716, NA12878, ...
5    [NA06994, NA11993, NA11995, NA12891, NA12864, ...
dtype: object

In [15]:
len(sample_ids), len(set(sample_ids))

(165, 165)

In [16]:
#label_df = pd.read_csv(phenotypes_path, index_col='sample_id')
label_df = pd.DataFrame({
    'sample_id': sample_ids,
    'trait_1': np.random.normal(size=len(sample_ids)),
    'trait_2': np.random.normal(size=len(sample_ids))
}).set_index('sample_id')
label_df = ((label_df - label_df.mean()) / label_df.std(ddof=0))[['trait_1', 'trait_2']]
label_df

            trait_1   trait_2
sample_id
NA06989   -0.078535  0.550310
NA11891   -0.419782 -0.050742
NA11843    0.774156 -2.126330
NA12341    0.771144 -1.314122
NA12739    0.402055 -0.865296
...             ...       ...
NA12752    1.005390 -0.517686
NA12043    0.534191 -0.535534
NA12264   -0.383037  0.109099
NA10854   -0.121615 -1.001846
NA12865    0.423931  1.675455

[165 rows x 2 columns]

In [17]:
# covariates = pd.read_csv(covariates_path, index_col='sample_id')
cov_df = pd.DataFrame({
    'sample_id': sample_ids,
    'cov_1': np.random.normal(size=len(sample_ids)),
    'cov_2': np.random.normal(size=len(sample_ids))
}).set_index('sample_id')
cov_df = ((cov_df - cov_df.mean()) / cov_df.std(ddof=0))
cov_df

              cov_1     cov_2
sample_id
NA06989   -0.961607 -0.240424
NA11891   -1.312328 -0.032669
NA11843    0.720588  0.281981
NA12341    0.157190 -0.014216
NA12739    0.178456 -1.166741
...             ...       ...
NA12752    0.253341 -0.922501
NA12043   -0.030301 -0.419506
NA12264   -1.912005  0.365930
NA10854    0.596679 -0.790976
NA12865   -0.136813 -0.076938

[165 rows x 2 columns]

In [18]:
stack = RidgeReducer()
reduced_block_df = stack.fit_transform(block_df, label_df, sample_blocks, cov_df)
reduced_block_df.printSchema()

Generated alphas: [1.29671818e+06 1.71166800e+06 2.56750200e+06 5.13500400e+06
 1.28375100e+08]
root
 |-- header: string (nullable = true)
 |-- size: integer (nullable = true)
 |-- values: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- header_block: string (nullable = true)
 |-- sample_block: string (nullable = true)
 |-- sort_key: integer (nullable = true)
 |-- mu: double (nullable = true)
 |-- sig: double (nullable = true)
 |-- alpha: string (nullable = true)
 |-- label: string (nullable = true)

In [20]:
reduced_block_df.show(3)

Py4JJavaError: An error occurred while calling o206.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 26 in stage 34.0 failed 1 times, most recent failure: Lost task 26.0 in stage 34.0 (TID 1573, localhost, executor driver): java.lang.IllegalArgumentException
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:334)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.readMessage(MessageSerializer.java:543)
	at org.apache.arrow.vector.ipc.message.MessageChannelReader.readNext(MessageChannelReader.java:58)
	at org.apache.arrow.vector.ipc.ArrowStreamReader.readSchema(ArrowStreamReader.java:132)
	at org.apache.arrow.vector.ipc.ArrowReader.initialize(ArrowReader.java:181)
	at org.apache.arrow.vector.ipc.ArrowReader.ensureInitialized(ArrowReader.java:172)
	at org.apache.arrow.vector.ipc.ArrowReader.getVectorSchemaRoot(ArrowReader.java:65)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage9.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:403)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:409)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.IllegalArgumentException
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:334)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.readMessage(MessageSerializer.java:543)
	at org.apache.arrow.vector.ipc.message.MessageChannelReader.readNext(MessageChannelReader.java:58)
	at org.apache.arrow.vector.ipc.ArrowStreamReader.readSchema(ArrowStreamReader.java:132)
	at org.apache.arrow.vector.ipc.ArrowReader.initialize(ArrowReader.java:181)
	at org.apache.arrow.vector.ipc.ArrowReader.ensureInitialized(ArrowReader.java:172)
	at org.apache.arrow.vector.ipc.ArrowReader.getVectorSchemaRoot(ArrowReader.java:65)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage9.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:403)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:409)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 38924)
Traceback (most recent call last):
  File "/opt/conda/envs/hail/lib/python3.7/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/envs/hail/lib/python3.7/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/envs/hail/lib/python3.7/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/envs/hail/lib/python3.7/socketserver.py", line 720, in __init__
    self.handle()
  File "/opt/conda/envs/hail/lib/python3.7/site-packages/pyspark/accumulators.py", line 269, in handle
    poll(accum_updates)
  File "/opt/conda/envs/hail/lib/python3.7/site-packages/pyspark/accumulators.py", line 241, in poll
    if func():
  File "/opt/conda/envs/hail/lib/python3.7/site-packages/pyspark/accumulators.py", line 245, in accum_updates
    num_updates = read_int(self.rfile)
  File "/opt/conda/envs/hail/lib/python3.7/site-packages/pyspark/serializers.py", line 717, in read_int
    raise EOFError
EOFError
----------------------------------------

In [ ]:
estimator = RidgeRegression()
model_df, cv_df = estimator.fit(reduced_block_df, label_df, sample_blocks, cov_df)
model_df.printSchema()
cv_df.printSchema()

In [ ]:
y_hat_df = estimator.transform(reduced_block_df, label_df, sample_blocks, model_df, cv_df, cov_df)
y_hat_df.printSchema()